<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Меню выбора запроса</title>
    <link rel="stylesheet" href="{{ url_for('bp_request.static', filename='query_menu.css') }}">
</head>
<body>
<main>
    <h2>Выберите запрос для выполнения</h2>
    {% for query in request_params %}
        <a href="{{ url_for('bp_request.input_handler', html_file=query.html_file) }}">
            <button>
                {{ query.title }}
            </button>
        </a>
    {% endfor %}
    <a href="{{ url_for('main_menu') }}">
        <button>
            Главное меню
        </button>
    </a>
</main>
</body>
</html>
