body {
    background-color: #f9f9fb;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
    margin-bottom: 35px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1.8px solid #ccc;
    margin-bottom: 30px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #566cff;
    outline: none;
}

input[type="submit"] {
    align-self: center;
    padding: 12px 45px;
    background-color: #566cff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #4352d7;
}