<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('bp_auth.static', filename='auth.css') }}">
</head>
<body>
    <main>
        <h2>Вход в систему</h2>
        {% if message %}
          <div class="flash">{{ message }}</div>
        {% endif %}
        <form action="" method="post">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login" required>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Войти</button>
        </form>
        <a href="http://127.0.0.1:5000/external_auth_service/register">
            <button type="button">Зарегистрировать</button>
        </a>
    </main>
</body>
</html>