<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Доступ запрещен</title>
    <link rel="stylesheet" href="{{ url_for('bp_auth.static', filename='no_access.css') }}">
</head>
<body>
    <div class="access-card">
        <h1>У вас нет прав на эту функциональность</h1>
        <div class="menu-btn-wrap">
            <a href="{{ url_for('main_menu') }}">
                <button class="menu-btn">Главное меню</button>
            </a>
        </div>
    </div>
</body>

</html>
