<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('bp_auth.static', filename='registration.css') }}">
</head>
<body>
    <main>
        <h2>Регистрация пользователя</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('bp_auth.add_user') }}" method="post">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </main>
</body>
</html>
