body {
    background-color: #f9f9fb;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: #33475b;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 2rem;
}

a {
    display: block;
    margin: 10px 0;
    padding: 12px 30px;
    background-color: #4a6cf7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 250px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #3554c9;
}